body {
  font: 10pt arial;
}
#mynetwork {
  width: 600px;
  height: 600px;
  border: 1px solid lightgray;
}

h1{
    text-align: center;
    background-color: rgba(12, 167, 137, 255);
    padding: 20px;
}

.desc{
    text-align: center;
}

address{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%
 }

 .back{
    text-align: right;
 }